[project]
	description = Class and home tasks for http://www.wrox.com/WileyCDA/WroxTitle/productCd-0470889640.html
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/chmelvv (chmelvv)
[access "refs/for/refs/*"]
	read = group user/chmelvv (chmelvv)
	push = group user/chmelvv (chmelvv)
	label-Code-Review = -2..+2 group user/chmelvv (chmelvv)
	label-Verified = -1..+1 group user/chmelvv (chmelvv)
	rebase = group user/chmelvv (chmelvv)
	removeReviewer = group user/chmelvv (chmelvv)
	submit = group user/chmelvv (chmelvv)
[access "refs/heads/*"]
	read = group user/chmelvv (chmelvv)
	create = group user/chmelvv (chmelvv)
	push = +force group user/chmelvv (chmelvv)
	pushMerge = group user/chmelvv (chmelvv)
[access "refs/tags/*"]
	push = +force group user/chmelvv (chmelvv)
	pushTag = group user/chmelvv (chmelvv)
	pushSignedTag = group user/chmelvv (chmelvv)
